
.footerPrincipal {
    color: var(--blanco);
    background-color: var(--lila_variante);
    padding: 1rem 2rem 2rem 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.columnaFooter {
    display: flex;
    flex-direction: row;
    min-height: 250px;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}

.columna1 {
    flex-basis: 550px;
}

.columna1 p {
    text-align: justify;
}

.columna2 {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.listaNavbar {
    text-decoration: none;
    list-style-type: none;
}

.columna3 {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
}

.redes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
}

.iconlinks {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 5px;
    
}

.listaNavbar li:hover {
    color: var(--lila_secundario);
    cursor: pointer;
}

.iconlinks:hover {
    color: var(--lila_secundario);
    cursor: pointer;
}

.tituloCol1, .tituloCol2, .tituloCol3 {
    display: flex;
    margin-bottom: 1rem;
    font-size: larger;
    font-weight: bolder;
    font-variant: small-caps;
}

.fila {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding-top: 1rem;
}

.fila a {
    text-decoration: none;
}

@media(max-width:768px) {
    .columnaFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .columna1, .columna2, .columna3 {
        flex-basis: auto;
        padding-bottom: 2rem;
    }
}