
.footerPrincipal {
    color: var(--blanco);
    background-color: var(--lila_variante);
    padding: 1rem 2rem 2rem 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.columnaFooter {
    display: flex;
    flex-direction: row;
    min-height: 250px;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    margin-top: 2rem;
}

.columna1 {
    flex-basis: 550px;
}

.columna1 p {
    text-align: justify;
}

.columna2 {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.linkfooter {
    text-decoration: none;
    list-style-type: none;
}

.columna3 {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
}

.redes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
}

.iconlinks {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 5px;
    
}

.listaNavbar li {
    list-style-type: none;
}

.listaNavbar .linkfooter:hover {
    color: var(--lila_secundario);
    cursor: pointer;
}

.iconlinks:hover {
    color: var(--lila_secundario);
    cursor: pointer;
}

.tituloCol1, .tituloCol2, .tituloCol3 {
    display: flex;
    margin-bottom: 1rem;
    font-size: larger;
    font-weight: bolder;
    font-variant: small-caps;
}

.fila {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    padding-top: 1rem;
}

.fila a {
    text-decoration: none;
}
.news {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 5rem;
    color: var(--negro);
    border: 4px solid var(--negro);
    background-color: var(--blanco);
    border-radius: 7px;
    max-width: 800px;
    height: 90px;
    align-items: center;
    margin: auto;
}

.news p {
    margin-top: 5px;
}

.iconNews {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
}

.news input {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 25px;
    outline: none;
    border: 2px solid var(--lila);
    border-radius: 5px;
}

.news input:focus {
    border: 3px solid var(--lila_secundario);
}

.botonSuscripcion {
    border: 2px solid var(--lila_secundario);
    color: var(--negro);
    padding: 8px 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.botonSuscripcion:hover {
    color: var(--blanco);
    background-color: var(--lila_secundario);
}

@media(max-width:768px) {
    .columnaFooter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .columna1, .columna2, .columna3 {
        flex-basis: auto;
        padding-bottom: 2rem;
    }

    .news {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .newsTexto {
        margin-top:0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .botonSuscripcion {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .iconNews {
        margin-bottom: 1rem;
    }
}

