.header {
    background-color: royalblue;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    margin-inline: 1.5 rem;
}

.headerLogo {
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: 500;
    list-style-type: none;
    text-decoration: none;
}

.navLink {
    list-style-type: none;
    text-decoration: none;
}

.navLista {
    list-style-type: none;
}

@media screen and (max-width: 768px ) {
    .navMenu {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #8271E4;
        text-align: center;
        transition: 0.3s;
        height: 450px;
    } 
    
    .navMenu.show {
        height: 450px;
    }

    navMenu.show .navLista {
        display: block;
        
    }

    .navLista {
        margin-top: 3rem;
        display: none;
    }   
    
    .navItem {
        margin-bottom: 2rem;
    }

    .navlink {
        color: #EFF3FC;
        font-size: 1rem;
        border-radius: 50px;
        border-bottom: 3px solid transparent #F0EFFF;
    }

    .navLink:hover,
    .navlink.active {
        border-bottom: 3px solid #141414;
    }
    
    .navIconos {
        color: #8271E4;
        font-size: 1.8rem;
        cursor: pointer;
    }
}