@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,800;1,500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --lila: #8271e4;
    --lila_secundario: #5F50A9;
    --lila_variante: #a59ecf;
    --blanco: #EFF3FC;
    --blanco_secundario: #F0EFFF;
    --negro: #141414;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 0 2 rem;
    background-color: var(--lila_variante);
    color: var(--negro);
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--blanco);
    font-weight: bolder;
    text-decoration: none;
    font-variant: small-caps;
}

.navbar .links:hover {
    color: var(--lila_secundario);
    display: flex;
    justify-content: space-between;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--negro);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

h1 {
    padding-right: 20px;
    padding-left: 30px;
    font-variant: small-caps;
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.iconLinks {
    display: none;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 1024px) {

    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header .navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        gap: 0.5rem;
        background-color: var(--lila_variante);
        transition: 1.2s;
        transform: translateY(100vh);
    }

    .navbar .links {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        margin-right: 2rem;
    }

    .links:hover {
        color: var(--lila_secundario);
    }

    header .responsive_nav {
        transform: none;
        z-index: 1;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        
    }

    .iconLinks {
        display: flex;
        margin-bottom: 8px;
        align-items: center;
        margin-right: 0.5rem;
    }
}

