* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  border-color: azure;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #E6E6FA;
 
}

.tituloPrincipal {
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 200%;
  text-align: center;
  color: royalblue;
}



